@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.App {
  text-align: center;
}

/* Loader Styles */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.letter {
  font-size: 400px; 
  font-weight: bold;
  color: #ffffff; 
  animation: scaleAndRotate 4s cubic-bezier(0.25, 1, 0.5, 1) forwards; 
}

@keyframes scaleAndRotate {
  0% {
    transform: scale(15) rotate(0deg); 
    opacity: 1;
    position: absolute;
    left: -100%;
  }
  25% {
    transform: scale(5) rotate(45deg); 
    opacity: 1;
  }
  50% {
    transform: scale(1.5) rotate(90deg); 
    opacity: 1;
    left: 50%; /* Move to center */
    transform: translateX(-50%) rotate(90deg); 
  }
  75% {
    transform: scale(1) rotate(360deg); 
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(360deg); 
    opacity: 0;
    left: 100%; 
  }
}


